@import '../../styles/constants.scss';

@keyframes slide {
  from {
    left: 0;
  }

  to {
    left: calc(100% - 10rem);
  }
}

.track {
  width: 100%;
  position: relative;
  height: 5rem;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.thumb {
  height: 5rem;
  background: $gradient;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  width: 10rem;
  font-size: $text-size;
  color: $white;
  cursor: pointer;
  transition: filter .2s ease;
  position: absolute;
  outline: none;
  animation-name: slide;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
  &:hover {
    filter: brightness(1.1);
    animation-play-state: paused;
  }
  &:active {
    filter: brightness(0.8);
  }
}
