@import '../../styles//constants.scss';

.track {
  width: 100%;
  position: relative;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

.thumb {
  height: 5rem;
  background: $gradient;
  padding: 1rem 2rem;
  border: 0;
  border-radius: 0.5rem;
  width: 10rem;
  font-size: $text-size;
  color: $white;
  cursor: pointer;
  transition: filter .2s ease;
  outline: none;
  &:hover {
    filter: brightness(1.1);
  }
  &:active {
    filter: brightness(0.8);
  }
}
