.list {
  display: flex;
  flex-direction: column;
  outline: none;
  overflow: scroll;
  &__wrapper {
    display: flex;
    margin-top: 3rem;
    flex: 1;
    flex-direction: column;
    & > div:first-child {
      flex: 1;
    }
  }
}
