// Colors
$background: #101010;
$white: #FFFFFF;
$gray: #6f6f6f;
$red: #eb3b5a;
$yellow: #fed330;

$gradient: linear-gradient(128deg, rgba(250,79,46,1) 0%, rgba(216,36,116,1) 100%);

// Text sizes
$text-size-small: 1rem;
$text-size: 1.2rem;
